.flex_std{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainer{
  padding: 1rem 0;
  background-color: rgb(98, 36, 156);
}

.navContainer h1{
  color: #fff;
  font-style: italic;
}

.quiz_block{
  padding-top: 4rem;
}

.quiz_container{
  max-width: 600px;
  width: 600px;
  height: 500px;
  background-color: rgb(98, 36, 156);
  color: #fff;
  padding: 2rem;
  text-align: center;
  border-radius: 20px;
}

.quiz_start_btn{
  all: unset;
  padding: 15px 50px;
  font-size: 16px;
  background-color: #6b86e6;
  margin-top: 3rem;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.quiz_start_btn:hover{
  color: rgb(29, 139, 190);
  background-color: rgb(255, 255, 255);
}
.flex_col{
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
}

.options_btn{
  all: unset;
  display: inline-block;
  min-width: 150px;
  background-color: #a95bc9;
  font-size: 1.1rem;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.next-question-block{
  margin-top: 2rem;
}

.next_question_btn{
  background-color: #6b86e6;
}