.flex_std{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainer{
  padding: 1rem 0;
  background-color: rgb(98, 36, 156);
}

.navContainer h1{
  color: #fff;
  font-style: italic;
}

.quiz_block{
  padding-top: 4rem;
}

.quiz_container{
  max-width: 600px;
  width: 600px;
  height: 500px;
  background-color: rgb(98, 36, 156);
  color: #fff;
  padding: 2rem;
  text-align: center;
  border-radius: 20px;
}

.start_btn{
  all: unset;
  padding: 15px 50px;
  font-size: 16px;
  background-color: rgb(17, 103, 143);
  margin-top: 3rem;
  cursor: pointer;
  border-radius: 10px;
}